.blog-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));    
    justify-items: center;    
    position: relative;
    margin: 15px;


    .admin-blog-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin-left: 15px;
            cursor: pointer;
            
        }

    }

    .new-blog-link {
        position: fixed;
        right: 0;
        bottom: 0;

        a {
            font-size: 3em;
            cursor: pointer;
            color: $teal;
            margin-right: 15px;
            margin-bottom: 15px;
            transition: 0.5s ease-in-out;

            &:hover {
                color: $dark-teal;
            }

        }
    }


    .content-container{
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        margin: 20px;
        max-width: 75ch;
        

        h1 {
            font-size: 1.5em;

        }

        .featured-image-wrapper{
            
            width: 100%;
            border-radius: 5px;
            object-fit: cover;

            img {
                max-width: 75ch;
            }

        }

        .content {
            margin: 20px;
            text-justify: auto;
            max-width: 75ch;
        }
    }
}
a{
    text-decoration: none;
    color: $teal;
    transition: 0.5s ease-in-out;   
    &:hover{
        color: $dark-teal;  
    }

}