.homepage-wrapper {
    display: grid;
    grid-template-columns: 1fr;

    .filter-links {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .btn {
            width: 100%
        }
    }


}