.portfolio-items-wrapper {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));


    .portfolio-item-wrapper {
        position: relative;

        .portfolio-img-background {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 350px;
            width: 100%;
            border-radius: 5px;
            box-shadow: inset 2px 1px 10px 2px rgba(0, 0, 0, 0.1);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}
        
        .img-text-wrapper {
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;

            .subtitle{
                transition: 1s ease-in-out;
                color: transparent;

            }
        }

        .img-text-wrapper:hover .subtitle {
            color: $teal;
            font-weight: 400;

        }
        .logo-wrapper img {
            width: 40%;
            
        }   
    }    
}

.image-blur {
    transition: 0.1s;
    filter: brightness(10%);
    -webkit-filter: brightness(10%);
}


